#docs {
  position:relative ;
  color: rgb(117, 204, 204);
  width: calc(100% - 240px);
  height: 97vh;
  /* border : 1px black solid; */
  left:0;
  z-index: 1;
  margin-left: 240px;
}

.song {
  list-style: '🎧';
}


body {
  margin: 0;
  overflow: hidden;
}

.main-category {
  font-size: 24px;
  list-style: '🥕';
  margin-left: 2px;
}

summary {
  list-style: '📁';
  font-size: 16pt;
  cursor: pointer;
  margin-left: 12px ;
}


li {
  list-style: '📃';
  font-size: 12pt;
  cursor: pointer;
}



section{
  overflow: auto;
  height: 96vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  position:fixed;
  z-index: 2;
  border-right : 1px #8064a9 solid;
  width: 200px;
  padding-left: 30px;
  background-color: white;
}

#appbar {
  display: none;
}


@media screen and (max-width: 768px) {
  
  #appbar {
    top: 0;
    width: calc(100vw - 50px);
    
    position: fixed;
    display: block;
    border-bottom: 1px #8064a9 solid;
    padding: 10px;
    padding-left: 40px;
    background-color: white;
    z-index: 2;
  }

  #folding {
    list-style: '🍳';
    font-size: 23px;
    margin-bottom: 4px;
    
  }



  #folding ~ div {
    padding-left: 20px;
  }
  #spc{
    display: none;
  }
  #docs {
    padding: 0;
    width: 99.5vw;
    margin-top: 40px;
    border-left: 1px #8064a9 none;
    margin-left: 0;
    padding-left: 0;
    left: 0px;
    height: 95vh;
  }
  #docs-wrapper{
    padding: 0;
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    align-content: flex-end;
    overflow: hidden;
  }



}